  body {
	background-color:#211865;
	margin: 0; padding: 0;
}
	
.buttons{
	text-align:center;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
button{
	font-size:15px;
	border: 2px solid white;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#head{
	background-color:white;
}
h1{
	text-align:center;
	color:red;
	font-family: "Serif";
	font-size: 2.7em;
}
img{
	padding:10px;
	margin:10px;
}
p{	
	color:white;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
	color:white;
}
